body {
	background-color: rgb(204, 204, 204);
}

#hero {
	width: 100%;
	display: block;
}

#gallery-main {
	display: flex;
}

.rhs-p {
	color: rgb(219, 51, 51);
	font-weight: 700;
}

.grid-container {
	margin: 5rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-gap: 10px;
	width: 60%;
}

.card {
	width: 300px;
	border: none;
	padding: 0;
	text-align: center;
	background-color: rgb(204, 204, 204);
}

.dl {
	margin: 1rem auto;
	color: rgb(200, 70, 70);
	background-color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 0.3rem 1rem;
	font-weight: 700;
}

#right-side {
	margin: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.custom-form {
	background-color: black;
	padding: 20px;
	width: 100%;
}

label {
	color: white;
	margin-bottom: 8px;
	display: block;
}

input {
	width: 90%;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #333;
	color: white;
}

.red-button {
	background-color: red;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

.footer {
	background-color: #2d2d2d;
	padding: 20px;
	display: flex;
}

.footer-section {
	flex: 1;
	margin: 0 10px;
}

.footer-section h3 {
	color: rgb(252, 252, 252);
	margin-bottom: 10px;
}

.footer-section ul {
	list-style-type: none;
	color: rgb(240, 255, 255);
}

.footer-section p {
	color: rgb(252, 252, 252);
}

#bottom{
	padding: 0.5rem;
	background-color: black;
	color: white;
	text-align: center;
}
